.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color: #C6CACC;
    text-decoration: none;
    margin-left: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;    
}
.header a:hover{
    color: #F4511E;
}